<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Google Chrome Plugin</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>se.stdin.quicksilver.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Google Chrome Plugin</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.6</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>20</string>
	<key>QSActions</key>
	<dict>
		<key>QSGoogleChromeRevealTab</key>
		<dict>
			<key>actionClass</key>
			<string>QSGoogleChromeActions</string>
			<key>actionSelector</key>
			<string>revealTab:</string>
			<key>directTypes</key>
			<array>
				<string>com.google.Chrome.tab</string>
			</array>
			<key>icon</key>
			<string>com.google.Chrome</string>
			<key>name</key>
			<string>Reveal tab in Chrome</string>
		</dict>
		<key>QSGoogleChromeReloadTab</key>
		<dict>
			<key>actionClass</key>
			<string>QSGoogleChromeActions</string>
			<key>actionSelector</key>
			<string>reloadTab:</string>
			<key>directTypes</key>
			<array>
				<string>com.google.Chrome.tab</string>
			</array>
			<key>icon</key>
			<string>com.google.Chrome</string>
			<key>name</key>
			<string>Reload tab in Chrome</string>
		</dict>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Andreas Johansson</string>
		<key>categories</key>
		<array>
			<string>Applications</string>
			<string>Web</string>
		</array>
		<key>description</key>
		<string>Access to information and functionality in the Google Chrome web browser</string>
		<key>extendedDescription</key>
		<string>&lt;h2 id=&quot;quicksilver-google-chrome-plugin&quot;&gt;Quicksilver Google Chrome plugin&lt;/h2&gt;
&lt;p&gt;This plugin adds functionality for accessing different aspects of &lt;a href=&quot;https://www.google.com/chrome&quot;&gt;Google Chrome&lt;/a&gt; in Quicksilver.&lt;/p&gt;
&lt;p&gt;This plugin contains adapted code from the &lt;a href=&quot;https://github.com/quicksilver/com.apple.Safari-qsplugin&quot;&gt;Safari plugin&lt;/a&gt;.&lt;/p&gt;
&lt;h3 id=&quot;catalog&quot;&gt;Catalog&lt;/h3&gt;
&lt;p&gt;The following additions are made to the catalog:&lt;/p&gt;
&lt;ul&gt;
&lt;li&gt;&lt;strong&gt;Open web pages&lt;/strong&gt; - A container for the current open web pages in Chrome, access the actual web pages by right arrowing into the container. Also available when right arrowing into the Chrome application.&lt;/li&gt;
&lt;li&gt;&lt;strong&gt;Bookmarks&lt;/strong&gt; - The top level bookmarks and bookmark folders from Chrome. Also available when right arrowing into the Chrome application&lt;/li&gt;
&lt;li&gt;&lt;strong&gt;History&lt;/strong&gt; - The 300 latest history entries in Chrome, disabled by default. The number in the catalog is limited to 300 for performance reasons. The history entries are also available when right arrowing into the Chrome application, and it includes all of the history, no limits.&lt;/li&gt;
&lt;li&gt;&lt;strong&gt;Search engines&lt;/strong&gt; - All search engines registered in Chrome, disabled by default. They are searchable both by their names and their keywords, and are also available when right arrowing into the Chrome application.&lt;/li&gt;
&lt;/ul&gt;
&lt;h3 id=&quot;actions&quot;&gt;Actions&lt;/h3&gt;
&lt;p&gt;The following actions are available:&lt;/p&gt;
&lt;ul&gt;
&lt;li&gt;&lt;strong&gt;Reveal tab in Chrome&lt;/strong&gt; - Activates the tab in Chrome that contains the selected web page. This is only available for Chrome Tab types, i.e. the listing under &amp;quot;Open web pages&amp;quot;, or &amp;quot;Current Web Page&amp;quot;.&lt;/li&gt;
&lt;li&gt;&lt;strong&gt;Reload tab in Chrome&lt;/strong&gt; - Reloads the tab in Chrome that contains the selected web page. This is only available for Chrome Tab types, i.e. the listing under &amp;quot;Open web pages&amp;quot;, or &amp;quot;Current Web Page&amp;quot;.&lt;/li&gt;
&lt;/ul&gt;
&lt;h3 id=&quot;proxies&quot;&gt;Proxies&lt;/h3&gt;
&lt;p&gt;The following proxies are available:&lt;/p&gt;
&lt;ul&gt;
&lt;li&gt;&lt;strong&gt;Current Web Page&lt;/strong&gt; - The web page currently displayed in the frontmost tab of the frontmost window in Chrome.&lt;/li&gt;
&lt;li&gt;&lt;strong&gt;Current Web Site&lt;/strong&gt; - A web search on the site displayed in the frontmost tab of the frontmost window in Chrome.&lt;/li&gt;
&lt;/ul&gt;
&lt;h3 id=&quot;types&quot;&gt;Types&lt;/h3&gt;
&lt;p&gt;The following new types are defined:&lt;/p&gt;
&lt;ul&gt;
&lt;li&gt;&lt;strong&gt;Chrome Tab&lt;/strong&gt; - A currently open tab in Chrome. Used as secondary type on URLs coming from Chrome tabs.&lt;/li&gt;
&lt;/ul&gt;
&lt;h3 id=&quot;additional-information&quot;&gt;Additional information&lt;/h3&gt;
&lt;p&gt;The icon used for the bookmarks folder is created by &lt;a href=&quot;http://ermonas.deviantart.com/&quot;&gt;Ernesto Monasterio&lt;/a&gt;, and can be found &lt;a href=&quot;http://ermonas.deviantart.com/art/Google-Chrome-Folder-Icon-201492913&quot;&gt;Here&lt;/a&gt;. The icon is licensed under a &lt;a href=&quot;http://creativecommons.org/licenses/by-nc-sa/3.0/&quot;&gt;Creative Commons Attribution-Noncommercial-Share Alike 3.0 License&lt;/a&gt;.&lt;/p&gt;</string>
		<key>icon</key>
		<string>ChromeIcon</string>
		<key>relatedBundles</key>
		<array>
			<string>com.google.Chrome</string>
			<string>com.google.Chrome.canary</string>
		</array>
	</dict>
	<key>QSPresetAdditions</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSPresetGoogleChromeGroup</string>
			<key>children</key>
			<array>
				<dict>
					<key>ID</key>
					<string>QSPresetGoogleChromeOpenPages</string>
					<key>icon</key>
					<string>com.google.Chrome</string>
					<key>name</key>
					<string>Open Web Pages</string>
					<key>source</key>
					<string>QSGoogleChromeObjectSource</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>QSPresetGoogleChromeBookmarks</string>
					<key>icon</key>
					<string>com.google.Chrome</string>
					<key>name</key>
					<string>Chrome Bookmarks</string>
					<key>settings</key>
					<dict>
						<key>fileContents</key>
						<string>Chrome Bookmarks</string>
						<key>parser</key>
						<string>QSGoogleChromeBookmarksParser</string>
						<key>path</key>
						<string>~/Library/Application Support/Google/Chrome/Default/Bookmarks</string>
						<key>scanContents</key>
						<integer>1</integer>
						<key>skipItem</key>
						<integer>1</integer>
						<key>watchTarget</key>
						<true/>
					</dict>
					<key>source</key>
					<string>QSFileSystemObjectSource</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>QSPresetGoogleChromeHistory</string>
					<key>icon</key>
					<string>com.google.Chrome</string>
					<key>name</key>
					<string>Chrome History</string>
					<key>settings</key>
					<dict>
						<key>fileContents</key>
						<string>Chrome History</string>
						<key>parser</key>
						<string>QSGoogleChromeHistoryParser</string>
						<key>historySize</key>
						<integer>300</integer>
						<key>path</key>
						<string>~/Library/Application Support/Google/Chrome/Default/History</string>
						<key>skipItem</key>
						<integer>1</integer>
						<key>watchTarget</key>
						<true/>
					</dict>
					<key>source</key>
					<string>QSFileSystemObjectSource</string>
					<key>enabled</key>
					<false/>
				</dict>
				<dict>
					<key>ID</key>
					<string>QSPresetGoogleChromeSearchEngines</string>
					<key>icon</key>
					<string>com.google.Chrome</string>
					<key>name</key>
					<string>Chrome Search Engines</string>
					<key>settings</key>
					<dict>
						<key>fileContents</key>
						<string>Chrome Search Engines</string>
						<key>parser</key>
						<string>QSGoogleChromeSearchEnginesParser</string>
						<key>path</key>
						<string>~/Library/Application Support/Google/Chrome/Default/Web Data</string>
						<key>skipItem</key>
						<integer>1</integer>
						<key>watchTarget</key>
						<true/>
					</dict>
					<key>source</key>
					<string>QSFileSystemObjectSource</string>
					<key>enabled</key>
					<false/>
				</dict>
			</array>
			<key>icon</key>
			<string>com.google.Chrome</string>
			<key>name</key>
			<string>Google Chrome</string>
			<key>requiresBundle</key>
			<string>com.google.Chrome</string>
			<key>source</key>
			<string>QSGroupObjectSource</string>
		</dict>
	</array>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>QSGoogleChromeProxies</key>
			<string>QSGoogleChromeProxies</string>
			<key>QSGoogleChromeActions</key>
			<string>QSGoogleChromeActions</string>
		</dict>
		<key>QSBundleChildHandlers</key>
		<dict>
			<key>com.google.Chrome</key>
			<string>QSGoogleChromeObjectSource</string>
		</dict>
		<key>QSFSParsers</key>
		<dict>
			<key>QSGoogleChromeBookmarksParser</key>
			<string>QSGoogleChromeBookmarksParser</string>
			<key>QSGoogleChromeHistoryParser</key>
			<string>QSGoogleChromeHistoryParser</string>
			<key>QSGoogleChromeSearchEnginesParser</key>
			<string>QSGoogleChromeSearchEnginesParser</string>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>com.google.Chrome.openPages</key>
			<string>QSGoogleChromeObjectSource</string>
			<key>com.google.Chrome.bookmarkFolder</key>
			<string>QSGoogleChromeObjectSource</string>
			<key>com.google.Chrome.history</key>
			<string>QSGoogleChromeObjectSource</string>
			<key>com.google.Chrome.searchEngines</key>
			<string>QSGoogleChromeObjectSource</string>
		</dict>
		<key>QSObjectSources</key>
		<dict>
			<key>QSGoogleChromeObjectSource</key>
			<string>QSGoogleChromeObjectSource</string>
		</dict>
		<key>QSProxies</key>
		<dict>
			<key>QSGoogleChromeFrontPageProxy</key>
			<dict>
				<key>bundle</key>
				<string>com.google.Chrome</string>
				<key>proxyType</key>
				<string>page</string>
				<key>icon</key>
				<string>ChromeIcon</string>
				<key>name</key>
				<string>Current Web Page (Chrome)</string>
				<key>details</key>
				<string>The URL of the page open in Chrome Canary</string>
				<key>providerClass</key>
				<string>QSGoogleChromeProxies</string>
				<key>types</key>
				<array>
					<string>Apple URL pasteboard type</string>
					<string>NSStringPboardType</string>
					<string>com.google.Chrome.tab</string>
				</array>
			</dict>
			<key>QSGoogleChromeCanaryFrontPageProxy</key>
			<dict>
				<key>bundle</key>
				<string>com.google.Chrome.canary</string>
				<key>proxyType</key>
				<string>page</string>
				<key>icon</key>
				<string>ChromeCanaryIcon</string>
				<key>name</key>
				<string>Current Web Page (Chrome Canary)</string>
				<key>details</key>
				<string>The URL of the page open in Chrome Canary</string>
				<key>providerClass</key>
				<string>QSGoogleChromeProxies</string>
				<key>types</key>
				<array>
					<string>Apple URL pasteboard type</string>
					<string>NSStringPboardType</string>
					<string>com.google.Chrome.tab</string>
				</array>
			</dict>
			<key>QSGoogleChromeSearchCurrentSiteProxy</key>
			<dict>
				<key>bundle</key>
				<string>com.google.Chrome</string>
				<key>proxyType</key>
				<string>site</string>
				<key>icon</key>
				<string>ChromeIcon</string>
				<key>name</key>
				<string>Current Website (Chrome)</string>
				<key>details</key>
				<string>Search the site open in Chrome</string>
				<key>providerClass</key>
				<string>QSGoogleChromeProxies</string>
				<key>types</key>
				<array>
					<string>qs.url.search</string>
					<string>Apple URL pasteboard type</string>
					<string>NSStringPboardType</string>
				</array>
			</dict>
			<key>QSGoogleChromeCanarySearchCurrentSiteProxy</key>
			<dict>
				<key>bundle</key>
				<string>com.google.Chrome.canary</string>
				<key>proxyType</key>
				<string>site</string>
				<key>icon</key>
				<string>ChromeCanaryIcon</string>
				<key>name</key>
				<string>Current Website (Chrome Canary)</string>
				<key>details</key>
				<string>Search the site open in Chrome Canary</string>
				<key>providerClass</key>
				<string>QSGoogleChromeProxies</string>
				<key>types</key>
				<array>
					<string>qs.url.search</string>
					<string>Apple URL pasteboard type</string>
					<string>NSStringPboardType</string>
				</array>
			</dict>
		</dict>
		<key>QSTypeDefinitions</key>
		<dict>
			<key>com.google.Chrome.tab</key>
			<dict>
				<key>icon</key>
				<string>com.google.Chrome</string>
				<key>name</key>
				<string>Chrome Tab</string>
			</dict>
		</dict>
		<key>QSWebBrowserMediators</key>
		<dict>
			<key>com.google.Chrome</key>
			<string>QSGoogleChromeActions</string>
		</dict>
	</dict>
	<key>QSResourceAdditions</key>
	<dict>
		<key>ChromeIcon</key>
		<dict>
			<key>bundle</key>
			<string>com.google.Chrome</string>
			<key>resource</key>
			<string>app.icns</string>
		</dict>
		<key>ChromeCanaryIcon</key>
		<dict>
			<key>bundle</key>
			<string>com.google.Chrome.canary</string>
			<key>resource</key>
			<string>app.icns</string>
		</dict>
		<key>ChromeFolder</key>
		<dict>
			<key>bundle</key>
			<string>se.stdin.quicksilver.${PRODUCT_NAME:rfc1034identifier}</string>
			<key>resource</key>
			<string>Chrome Folder.icns</string>
		</dict>
	</dict>
</dict>
</plist>
