<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>se.stdin.quicksilver.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>QSActions</key>
	<dict>
		<key>GoogleChromeExampleAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSGoogleChromeActionProvider</string>
			<key>actionSelector</key>
			<string>performActionOnObject:</string>
			<key>directTypes</key>
			<array>
				<string>QSGoogleChromeType</string>
			</array>
			<key>icon</key>
			<string>ToolbarAdvanced</string>
		</dict>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Andreas Johansson</string>
		<key>categories</key>
		<array>
			<string>Applications</string>
		</array>
		<key>description</key>
		<string>One-line summary for this plug-in</string>
		<key>extendedDescription</key>
		<string>HTML formatted documentation for this plug-in.</string>
		<key>icon</key>
		<string>KEXT</string>
	</dict>
	<key>QSPresetAdditionsTemplate</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSPresetGoogleChromeGroup</string>
			<key>children</key>
			<array>
				<dict>
					<key>ID</key>
					<string>QSPresetGoogleChromeExample</string>
					<key>name</key>
					<string>Items from GoogleChrome</string>
					<key>source</key>
					<string>QSGoogleChromeSource</string>
				</dict>
			</array>
			<key>icon</key>
			<string>KEXT</string>
			<key>name</key>
			<string>GoogleChrome Presets</string>
			<key>source</key>
			<string>QSGroupObjectSource</string>
		</dict>
	</array>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>QSGoogleChromeActionProvider</key>
			<string>QSGoogleChromeActionProvider</string>
		</dict>
		<key>QSApplicationActionsTemplate</key>
		<dict>
			<key>com.domain.application</key>
			<dict>
				<key>GoogleChromeExampleCommand</key>
				<dict>
					<key>actionClass</key>
					<string>QSGoogleChromeActionProvider</string>
					<key>command</key>
					<string>GoogleChromeExampleCommand</string>
					<key>name</key>
					<string>Application Action Example</string>
				</dict>
			</dict>
		</dict>
		<key>QSBundleChildHandlers</key>
		<dict>
			<key>QSGoogleChromeType</key>
			<string>QSGoogleChromeSource</string>
		</dict>
		<key>QSBundleChildHandlersTemplate</key>
		<dict>
			<key>com.domain.application</key>
			<string>QSGoogleChromeSource</string>
		</dict>
		<key>QSCommandsTemplate</key>
		<dict>
			<key>GoogleChromeExampleCommand</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSGoogleChromeActionProvider</string>
								<key>actionSelector</key>
								<string>someSelector</string>
								<key>icon</key>
								<string>defaultAction</string>
								<key>name</key>
								<string>Do Something</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>GoogleChromeInternalCommand</string>
				</dict>
			</dict>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>QSGoogleChromeType</key>
			<string>QSGoogleChromeSource</string>
		</dict>
		<key>QSObjectSources</key>
		<dict>
			<key>QSGoogleChromeSource</key>
			<string>QSGoogleChromeSource</string>
		</dict>
		<key>QSPreferencePanesTemplate</key>
		<dict>
			<key>GoogleChromePrefPaneTemplate</key>
			<dict>
				<key>class</key>
				<string>GoogleChromePrefPane</string>
				<key>description</key>
				<string>Preferences</string>
				<key>icon</key>
				<string>KEXT</string>
				<key>name</key>
				<string>GoogleChrome</string>
			</dict>
		</dict>
		<key>QSProxiesTemplate</key>
		<dict>
			<key>GoogleChromeSomeProxy</key>
			<dict>
				<key>icon</key>
				<string>GenericDocumentIcon</string>
				<key>name</key>
				<string>GoogleChrome Proxy</string>
				<key>providerClass</key>
				<string>QSGoogleChromeSource</string>
				<key>types</key>
				<array>
					<string>QSGoogleChromeType</string>
				</array>
			</dict>
		</dict>
		<key>QSTriggerEventsTemplate</key>
		<dict>
			<key>GoogleChromeSomeEvent</key>
			<dict>
				<key>icon</key>
				<string>KEXT</string>
				<key>name</key>
				<string>Do something in response to this event</string>
				<key>provider</key>
				<string>QSGoogleChromeSource</string>
			</dict>
		</dict>
		<key>QSTriggerSetsTemplates</key>
		<dict>
			<key>GoogleChromeTriggers</key>
			<dict>
				<key>icon</key>
				<string>KEXT</string>
				<key>name</key>
				<string>GoogleChrome</string>
			</dict>
		</dict>
		<key>QSTypeDefinitions</key>
		<dict>
			<key>QSGoogleChromeType</key>
			<dict>
				<key>icon</key>
				<string>GenericDocumentIcon</string>
				<key>name</key>
				<string>GoogleChrome Object</string>
			</dict>
		</dict>
	</dict>
	<key>QSRequirementsTemplate</key>
	<dict>
		<key>plugins</key>
		<array>
			<dict>
				<key>id</key>
				<string>com.qsapp.Another.PlugIn</string>
				<key>name</key>
				<string>Another Plug-in</string>
			</dict>
		</array>
	</dict>
	<key>QSTriggerAdditionsTemplate</key>
	<array>
		<dict>
			<key>ID</key>
			<string>GoogleChromeTrigger</string>
			<key>command</key>
			<string>GoogleChromeExampleCommand</string>
			<key>defaults</key>
			<dict>
				<key>characters</key>
				<string>x</string>
				<key>keyCode</key>
				<integer>124</integer>
				<key>modifiers</key>
				<integer>9961768</integer>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Example Trigger</string>
			<key>set</key>
			<string>GoogleChrome</string>
		</dict>
	</array>
</dict>
</plist>
